
/* 
for mx auto{
    display: block;
    width: 400px;
    margin: auto;
} */

@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

body{
    font-family: Asap, sans-serif;
    background-color:  #3c3c3c;
    color: red;
}

h4 {
    padding-top: 2px;
}

button, div {
    margin: 5px;
}

#row2 {

}

#mid {
    margin: 6px;
}

.choice {
    border: 5px solid white;
    border-radius: 6px;
    padding: 6px;
    margin: 10px;
    display: inline-block;
}

.choice:hover { 

    cursor: pointer;
    background: blue;
    transition: 0.30s;

}
 
#mid {
    font-size: 25px;
}